* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
}

.container {
    background-color: rgb(38, 45, 45);
}

header {
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header h1,
a {
    color: aliceblue;
    transition: .3s;
    border: 0;
    border-radius: 1em;
    padding: .5em;
}

header a:hover {
    background-color: rgb(255, 0, 0);
    color: aqua;
}

.main {
    width: 100%;
    height: 80em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .btn-bar {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .btn-bar>a {
    background-color: rgba(255, 0, 0, 0.475);
    color: #ffcece;
    text-decoration: none;
    border-radius: 0;
    padding: .3em;
    border-radius: .3em;
}

.main .btn-bar>#search {
    width: 15em;
    height: 2em;
    border: 0;
    border-radius: .5em;
    padding: .5em;
    background-color: #ffcece;
}

.btn-bar>#search:focus {
    outline: none;
    box-shadow: 2px 2px 2px rgb(255, 0, 0), 2px -2px 2px rgb(255, 0, 0), -2px 2px 2px rgb(255, 0, 0), -2px -2px 2px rgb(255, 0, 0);
}

.main .list-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .list-content>table {
    width: 90%;
    margin-top: 1vh;
    background-color: #522323;
    color: #ffcece;
    text-align: left;
}

.list-content>table .editBtn {
    display: flex;
    width: 9rem;
}

.list-content>table .editBtn a {
    text-decoration: none;
    background-color: rgb(208, 0, 0);
    padding: .3em;
    border-radius: .5em;
    margin: 1vh;
}

.list-content>table th {
    background-color: #2b1818;
    color: rgb(255, 109, 41);
    padding: .5em;
}

.list-content>table td {
    padding: .5em;
}